/** pagination **/

.pagination {
  justify-content: center;
  margin-bottom: 20px;
}

.pagination > div {
  width: 3px;
  height: 28px;
  margin: 2px;
  display: inline-block;
  animation: sk-bouncedelay 1s infinite ease-in-out both;
}

.pagination .bounce1 {
  animation-delay: -0.32s;
  background-color: red;
}

.pagination .bounce2 {
  animation-delay: -0.16s;
  background-color: blue;
}

.pagination .bounce3 {
  background-color: green;
}

@keyframes sk-bouncedelay {
  0% { 
    transform: scaleY(0.2);
  }
  
  50% {
    transform: scaleY(1);
  }
  
  100% {
    transform: scaleY(0.2);
  }
}
/** layout **/

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 1rem;
}

.img-responsive {
  max-width: 100%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.cell img {
  display: block;
}

.cell {
  margin: 1rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid input[type=text] {
  margin: 1rem;
  width: 100%;
  font-size: 22px;
  padding: 9px;
  outline: none;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
  color: rgb(87,87,87);
  transition: border-bottom-color 0.4s;
}

.grid input[type=text]:focus {
  border-bottom-color: rgba(33, 150, 243,0.5)
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(20% - 2rem);
  }
}

/** dialog **/

.dialog {
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1300;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

.loader {
  border: 30px solid rgba(0, 0, 0, 0.5);
  border-top-color: rgb(33, 150, 243);
  border-radius: 50%;
  width: 40vh;
  height: 40vh;
  animation: spin 1.0s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal {
  max-width: 680px;
  border-radius: 4px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.8),0px 24px 38px 3px rgba(0, 0, 0, 0.8),0px 9px 46px 8px rgba(0, 0, 0, 0.8);
  animation-name: zoom;
  animation-duration: 0.5s;
  background-color: rgba(255, 255, 255);
}

.modal-title {
  padding: 0 10px;
}

.modal-title > h2 {
  font-size: 21px;
  font-weight: 500;
}

.modal-content {
  padding: 0 10px 10px 10px;
}

.modal-footer {
  margin: 8px 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/** button */

button {
  color: rgb(33, 150, 243);
  padding: 8px 16px;
  font-size: 16px;
  box-sizing: border-box;
  min-height: 36px;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  position: relative;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  text-transform: uppercase;
  transition: background-color 250ms;
}

button:disabled {
  cursor: default;
  color: rgba(0, 0, 0, 0.26);
}

button:hover:not(:disabled) {
  background-color: rgba(33, 150, 243, 0.2);
}

button.second {
  color: rgb(225, 0, 80);
}

button.second:hover:not(:disabled) {
  background-color: rgba(225, 0, 80, 0.2);
}

button.third {
  color: rgb(0, 0, 0);
}

button.third:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.12);
}
